.participant .icon {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: rgba(75, 0, 214, 0.3);
    border: 2px solid rgb(75, 0, 214);

    display: flex;
    justify-content: center;
    align-items: center;
}